<%= render(WeatherdrobeWeb.SharedView, "_header.html", conn: @conn) %>

<h1>Edit Calendar</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.calendar_path(@conn, :update, @calendar)) %>

<span><%= link "Back", to: Routes.calendar_path(@conn, :index) %></span>
