[Unit]
Description=Weatherdrobe

[Service]
Type=simple
User=weatherdrobe
Group=weatherdrobe
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4797"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/weatherdrobe/weatherdrobe
ExecStart=/home/weatherdrobe/weatherdrobe/start.sh

[Install]
WantedBy=multi-user.target
