<h1>Show Activity</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @activity.name %>
  </li>

  <li>
    <strong>Indoor?:</strong>
    <%= @activity.indoor? %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.activity_path(@conn, :edit, @activity) %></span>
<span><%= link "Back", to: Routes.activity_path(@conn, :index) %></span>
