<%= render(WeatherdrobeWeb.SharedView, "_header.html", conn: @conn) %>

<h1>New Outfit</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.outfit_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.outfit_path(@conn, :index) %></span>
