@import "tables.scss";

.test-class {
    color: rebeccapurple;
    padding: 20px;
    margin-top: 30px;
    height:0px;
}

ul.nav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li.nav {
  float: right;
  .nav-left {
    float: left;
  }
}

li a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.nav:hover {
  background-color: #111;
}

.flex-container {
  display: flex;
  background: floralwhite;
  justify-content: center;
  align-items: center;
}
