form {
  .form-group {
    display: flex;
    margin-bottom: 20px;
    label {
      width: 100px;
      text-align: end;
      padding: 4px;
      margin-right: 16px; 
    }
    input {
      width: 200px;
      border: 1px solid black;
      padding: 4px;
    }
    .help-block {
      margin-left: 10px;
      color: red;
    }
  }
  .form-button {
    margin-left: 120px;
  }
}