form {
  .form-group {
    display: flex;
    margin-bottom: 20px;
    label {
      flex: 1 25%;
      padding: 4px;
    }
    input {
      flex: 1;
      border: 1px solid black;
      padding: 4px;
    }
  }
}