<h1>Edit Conjunction</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.conjunction_path(@conn, :update, @conjunction)) %>

<span><%= link "Back", to: Routes.conjunction_path(@conn, :index) %></span>
